# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Environment files (JANGAN commit file asli!)
.env
.env.*
!.env.example
!.env.docker.example

# Test artifacts
test.db
.coverage
htmlcov/
.pytest_cache/

# Node
node_modules/
dist/
build/
.cache/

# Docker logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
